ENGESVC2DA/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
*.pyc
*.pyo
*.log
*.swp
*.retry
**/*.env
*~
.~*
**/CACHE
__pycache__
.coverage
.pytest_cache/
htmlcov/
*.db
*.sqlite3
*.conf
!.gitignore

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
*.code-workspace
