# core
eyed3==0.9.5
Click==7.1.2
colorama==0.4.3
pyfiglet==0.8.post1
termcolor==1.1.0

# for testing
gtts==2.1.1
pytest-cov==2.8.1
pytest-bandit==0.5.2
tqdm==4.46.0

# python style
black
autopep8==1.5.2
doc8==0.8.0
# flake8==3.7.8  # now using black
pep8==1.7.1
pylint==2.5.0
flake8==3.7.9

# dev tools
bpython==0.19
rope==0.17.0
pre-commit==2.3.0
requires.io==0.2.6

# "clean" requirements
pip_chill
