# core

colorama==0.4.4
eyed3==0.9.6
flask==1.1.4
flask-bcrypt==0.7.1
flask-debugtoolbar==0.11.0
flask-httpauth==4.4.0
flask-login==0.5.0
flask-mail==0.9.1
flask-moment==1.0.2
flask-restful==0.3.9
flask-script==2.0.6
flask-talisman==1.0.0
flask-wtf==0.15.1
markupsafe==2.0.1  # https://stackoverflow.com/questions/72191560/importerror-cannot-import-name-soft-unicode-from-markupsafe
termcolor==1.1.0
python-dotenv==0.19.0
pyfiglet==0.8.post1

# dev

autopep8==1.5.7
black==21.12b0
bpython==0.23
commitizen==2.35.0
doc8==0.9.0
flake8==3.9.2
invoke==1.7.1
isort[requirements_deprecated_finder]==5.9.3
pep8==1.7.1
pre-commit==2.14.0

# tests

faker==8.11.0
gtts==2.2.3
tqdm==4.66.3
pytest-cov==2.12.1
pytest-flask==1.2.0

# production

gunicorn==20.1.0
sentry-sdk==1.3.1
