# core
Click==7.1.2
colorama==0.4.4
eyed3==0.9.6
pyfiglet==0.8.post1
termcolor==1.1.0

# web-app
python-dotenv==0.17.1

Flask==2.0.0
flask-bcrypt==0.7.1
flask-debugtoolbar==0.11.0
Flask-HTTPAuth==4.4.0
flask-login==0.5.0
flask-mail==0.9.1
flask-moment==0.11.0
flask-restful==0.3.8
flask-script==2.0.6
flask-wtf==0.14.3

sentry-sdk[flask]==1.1.0

# for testing
Faker
gtts
# pytest-bandit # see https://github.com/Wanderu/pytest-bandit/issues/18
pytest-cov
pytest-flask
tqdm

# python style
autopep8
black
doc8
flake8
pep8

# dev tools
bpython
pre-commit

# dependency management
pip-tools
pip-chill
