# Note: No spaces around '=' sign and no quotes for righthand values.

# Command to create a new secret key:
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))'
SECRET_KEY=CHANGEME!!!
DEBUG=True
ALLOWED_HOSTS=
DATABASE_URL=CONFIGUREDB!!!
