<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        {# <span class="text-muted">&copy; {{ moment(now).format('YYYY') }} <a href="{{ url_for('index') }}">{{ url_for('index', _external=True)|replace("http://", "") }}</a>. Powered by <a href="https://www.python.org/">Python</a>. Built with <a href="http://flask.pocoo.org/">Flask</a>. </span> #}
        <a href="https://www.python.org/" target="_blank">
            <img src={{ url_for('static', filename='img/python-powered-w.svg') }} alt="Python Powered" height="60" style="border:0;">
        </a>
    </div>
    <!-- /.container -->
</footer>
