# Note: No spaces around '=' sign and no quotes for righthand values.

# Example commands to create a new secret key:
# openssl rand -hex 50
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))'
TENLISTS_SECRET_KEY=ed23f8c209bdd1ba8cea0faf21b4d28f003b0334cdd784163b0717d27e977074beddd014aa62e05f05b0edbbea77d8216abf

# Mail Config (Feel free to use whatever you want, e.g. mailtrap.io)
MAIL_SERVER_DEV=smtp.mailtrap.io
MAIL_PORT_DEV=2525
TENLISTS_EMAIL_USER_DEV=CHANGEME
TENLISTS_EMAIL_PWD_DEV=CHANGEME
MAIL_USE_TLS=True
MAIL_USE_SSL=False

# If the mp3s are stored online (s3, cloudinary, backblaze, etc.), set the Base URL here, no trailing slash.
# TENLISTS_MP3_CLOUD_STORAGE_BASE_URL=https://example.com/path/to/folder

# API ACCESS
TENLISTS_API_BASE=http://0.0.0.0:5000/ten-lists/api/v1.0/mp3s

# (Production Only)
SERVER_NAME=example.com
SENTRY_DSN=https://XXXXXXXXX@YYYYY.ingest.sentry.io/ZZZZZZZZ
